<%- include ("partials/header.ejs") %>

<h1>This is a show template</h1>

<p><%= product.name %></p>

<img src="<%= product.img %>" alt="">

<p><%= product.description %></p>

<%- include ("partials/footer.ejs") %>