<%- include ("partials/header.ejs") %>

<h1>This is a show template</h1>

<p><%= product.name %></p>

<img src="<%= product.img %>" alt="">

<p><%= product.description %></p>

<% product.comments.forEach((comment) => { %>
  <p><strong><%= comment.author %></strong> - <%= comment.text %></p>
<% }) %>

<%- include ("partials/footer.ejs") %>