<%- include ("../partials/header") %>

<section id="products-list">
  <div class="jumbotron jumbotron-fluid text-center bg-white style-jumbotron">
    <h1 class="display-4">See the Products Available</h1>
    <div id="add-product-button" class="card">
      <p class="lead mt-4">Click in the Button to Add a Product</p>
      <p>
        <a href="/productsList/newProduct" class="style-button inverted-button">Add New Product</a>
      </p>
    </div>
   
  </div>
  
  <div id="list">
    <div class="container">
        <div class="row">
        <% products.forEach(product => { %>
          <div class="col-lg-3 col-md-4 col-sm-6 my-4">
          <div class="card">
            <img src="<%= product.img %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= product.name.substring(0,34) %></h5>
              <p class="card-text"><%= product.description.substring(0, 40) %>...</p>
              <a href="/productsList/<%= product._id %>" class="style-button inverted-button">More info</a>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </div>

</section>



<%- include ("../partials/footer") %>